{% extends 'Animal_Base.html' %}
{% load static %}
{% block title %}All animals{% endblock %}
{% block content %}

    <span class="header-text"><h1>All Animals</h1></span>
    <span class="alphabet-container"><p><a href="#a">a</a> <a href="#b">b</a> <a href="#c">c</a> <a href="#d">d</a> <a href="#e">e</a> <a href="#f">f</a> <a href="#g">g</a> <a href="#h">h</a> <a href="#i">i</a> <a href="#j">j</a> <a href="#k">k</a> <a href="#l">l</a> <a href="#m">m</a> <a href="#n">n</a> <a href="#o">o</a> <a href="#p">p</a> <a href="#q">q</a> <a href="#r">r</a> <a href="#s">s</a> <a href="#t">t</a> <a href="#u">u</a> <a href="#v">v</a> <a href="#w">w</a> <a href="#x">x</a> <a href="#y">y</a> <a href="#z">z</a> </p></span>

    <div class="list-container">

        <h1 id="a">A</h1>
        <br>
        <div class="grid-container">
            {% for animal in obj.0 %}
                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>


        <h1 id="b">B</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.1 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="c">C</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.2 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="d">D</h1>
        <br>
        
        <div class="grid-container">
            {% for animal in obj.3 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="e">E</h1>

        <br>
        <div class="grid-container">
        {% for animal in obj.4 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

        <h1 id="f">F</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.5 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        
        <h1 id="g">G</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.6 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="h">H</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.7 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="i">I</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.8 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="j">J</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.9 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="k">K</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.10 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="l">L</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.11 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="m">M</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.12 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="n">N</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.13 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="o">O</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.14 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="p">P</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.15 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="q">Q</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.16 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="r">R</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.17 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="s">S</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.18 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="t">T</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.19 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="u">U</h1>

        <br>
        <div class="grid-container"> 
            {% for animal in obj.20 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="v">V</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.21 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="w">W</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.22 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="x">X</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.23 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="y">Y</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.24 %}

                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1 id="z">Z</h1>

        <br>
        <div class="grid-container">
            {% for animal in obj.25 %}
                <a href="{{ animal.get_absolute_url }}">
                    <div class="animal-container">
                        <img src="{{ animal.image.all.first.image.url }}" alt="{{ animal.image.all.first.description }}">
                        <p>{{ animal.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    
{% endblock %}