<div class="footer-wrapper">
    <h1 class="footer-title-left">Lucas Animal Facts</h1>
    <ul class="footer-list-pages">
        <li class="footage-list-item">Animals</li>
        <li class="footage-list-item">Travel</li>
        <li class="footage-list-item">News</li>
        <li class="footage-list-item">Contact</li>
    </ul>
    <h1 class="footer-title-right">Follow Me</h1>
    <ul class="footer-list-follow">
        <li class="footage-list-item"><a href="instagram.com">Instgram</a></li>
        <li class="footage-list-item"><a href="twitter.com">Twitter</a></li>
        <li class="footage-list-item"><a href="facebook.com">Facebook</a></li>
    </ul>
</div>