{% extends 'travel_base.html' %}
{% load static %}
{% block title %}Travel - {{ object.title }}{% endblock %}
{% block content %}

    <div class="header">
        <h1>{{ object.name }}</h1>
        <img src="{{ object.image.all.first.image.url }}" alt="object.image.all.first.description">
        <p>Written by {{ object.writer }}</p>
        <p>{{ object.date }}</p>
    </div>

        <div class="animal-info-sect">
            {% for portion in split_info %}
            <p>{{ portion }}</p>
            {% endfor %}
        </div>
        
        <div class="carousel">
            <button class="carousel-button carousel-button-left">
                <img src="{% static 'mainpictures/key-left-svgrepo-com.svg' %}" alt="">
            </button>
            <div class="carousel-track-container">
                <ul class="carousel-track">
                    <li class="carousel-slide current-slide">
                        <img class="carousel-image" src="{{ object.image.all.first.image.url }}"
                            alt="{{ object.image.all.first.description }}">
                    </li>
                    <li class="carousel-slide">
                        <img class="carousel-image" src="{{ object.image.all.1.image.url }}"
                            alt="{{ object.image.all.1.description }}">
                    </li>
                    <li class="carousel-slide">
                        <img class="carousel-image" src="{{ object.image.all.last.image.url }}"
                            alt="{{ object.image.all.last.description }}">
                    </li>
                </ul>
            </div>
            <button class="carousel-button carousel-button-right">
                <img src="{% static '/mainpictures/key-left-svgrepo.com.svg' %}" alt="">
            </button>
        
            <div class="carousel-nav">
                <button class="carousel-indicator current-slide"></button>
                <button class="carousel-indicator"></button>
                <button class="carousel-indicator"></button>
            </div>
        </div>



{% endblock %}