.footer-wrapper {
    position: relative;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    bottom: 0;
}

.footer-list-pages {
    list-style: none;
}

.footer-list-follow {
    list-style: none;
}

.footer-list-follow a {
    color: white;
}