@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background: rgba(0, 214, 170, .85);
}

.hero-main {
    position: relative;
    display: inline-block;
    width: 75%;
}

.main-title {
    position: relative;
    margin-top: 1em;
    text-align: center;
    color: white;
    left: 25%;
    transform: translateX(-10%);
}

.hero-sect {
    position: relative;
    margin-top: 1.25em;
    color: black;
    display: inline-block;
}

.img-sect {
    position: relative;
}

.hero-sect img {
    position: relative;
    width: 100%;
    left: 25%;
    transform: translateX(-7.5%);
}

.img-info {
    background-color: rgba(0, 0, 0, 85%);
    display: inline-block;
    position: absolute;
    left: 17.5%;
    bottom: 0;
    font-size: .45em;
    color: white;
}

.img-info h1{
    margin: 0;
    padding: 0 .5em 0 .5em
}

.cta {
    display: inline-block;
    margin-top: 5em;
    margin-left: 49%;
    left: 25%;
    transform: translateX(-25%);
}

.cta h1 {
    display: none;
}

.cta a {
    background-color: var(--background);
    color: white;
    text-decoration: none;
    padding: .7em 1.4em;
    font-size: 2em;
    border-radius: 5em;
}

.travel {
    margin-top: 5em;
    color: white;
    text-align: center;
}

.travel ul {
    list-style: none;
    padding: 0;
}

.travel-item {
    display: inline-block;
    width: 75%;
    background-color: white;
    color: black;
    margin-bottom: 2em;
}

.travel-item img {
    width: 100%;
}

.travel-item h1 {
    font-size: 85%;
    text-align: left;
    margin-left: 5%;
}

.travel-item p {
    text-align: left;
    margin-left: 5%;
    color: black;
}

.news h1 {
    color: white;
    text-align: center;
}

.news-sect {
    position: relative;
    padding: 0;
    list-style: none;
}

.news-item {
    position: relative;
    background-color: white;
    color: black;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
}

.news-sect img {
    width: 20%;
    margin: 5%;
    border-radius: 100em;
    display: inline-block;
}

.news-sect p {
    position: absolute;
    display: inline-block;
    padding: 0 5% 0 5%;
    width: 50%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 1080px) {

    .hero-sect {
        position: relative;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .img-sect {
        display: inline-block;
        width: 40%;
        margin-left: 10%;
    }

    .img-sect img {
        position: relative;
        width: 100%;
        transform: none;
        left: auto;
    }

    .img-info {
        position: absolute;
        left: 0;
        font-size: .6em;
    }

    .cta {
        position: absolute;
        display: inline-block;
        margin: 0;
        transform: none;
        width: 50%;
        left: auto;
    }

    .cta-container {
        display: inline-block;
        position: relative;
        left: 75%;
        top: 50%;
        transform: translate(-50%, 50%)
    }

    .cta h1 {
        text-align: center;
        position: relative;
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
        color: white;
    }

    .cta a {
        position: relative;
        text-align: center;
        left: 25%;
    }

    .travel-item {
        width: 100%;
    }

    .travel-list li {
        display: inline-block;
        width: 25%;
        margin: 0 2.5% 2.5% 2.5%;
    }

    .news-item {
        width: 25%;
        display: inline-block;
        left: auto;
        transform: none;
        margin-left: 15%;
        margin-right: 5%;
        margin-bottom: 4em;
    }

}